@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

p {
  color: #767675;
  line-height: 1.6;
}
/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 77.6%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger { display: none; }

header .wrapper {
  width: 97.5%;
  display: flex;
  align-items: center;
}

h1 {
  padding: 12px 0;
  flex-basis: 17.3%;
  border-right: 1px solid #9a9599;
}

header form { flex-basis: 37.7%; }
nav { flex-basis: 45%; }

.cook-details,
header button {
  display: inline-block;
  vertical-align: middle;
}

.cook-details { width: 55%; }

.cook-details input {
  width: 100%;
  border: none;
  font-size: 18px;
}

.cook-details input::first-letter { text-transform: capitalize; }

header button {
  padding: 0;
  border: none;
  margin-left: 4.5%;
  background: transparent;
  text-indent: -9999px;
}

header button::after {
  content: '\f002';
  padding-bottom: 7px;
  float: right;
  color: #9a9599;
  font-family: FontAwesome;
  font-size: 21px;
  text-indent: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #767675;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling start */
.banner {
  position: relative;
  margin-bottom: 51px;
}

.banner .wrapper { width: 100%; }

.todays-recipe {
  width: 8.4%;
  padding: 34px 0;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  right: 2.3%;
  z-index: 1;
  background-color: #DB3E35;
  text-align: center;
}

.todays-recipe span {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.recipe {
  width: 20.2%;
  padding: 55px 2.5% 29px;
  background-color: #fff;
  position: absolute;
  top: 83px;
  right: 5%;
  text-align: center;
  transform: translate(-6.5%);
}

h2 {
  margin-bottom: 10px;
  color: #2D2A2F;
  font-family: serif;
  font-size: 35px;
  text-transform: capitalize;
}

.banner p::first-letter,
.contact-us span::first-letter,
.editors-collection p::first-letter { text-transform: capitalize; }

.banner p {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 600;
}

figcaption {
  display: inline-block;
  color: #2D2A2F;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.recipe img { width: 14%; }

.social-links {
  position: absolute;
  bottom: 18px;
  left: 1.2%;
}

.social-links a {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.social-links a {
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  text-indent: -9999px;
}

.social-links li:first-child a { text-indent: 0; }

.social-links a::after,
.social-links .save::before {
  font-family: FontAwesome;
  float: right;
  color: #fff;
  font-size: 16px;
  text-indent: 0;
}

.save::before {
  content: "\f097";
  padding-left: 6px;
}

.facebook::after { content: '\f082'; }
.pinterest::after { content: '\f231'; }
.forward::after { content: '\f064'; }
/* banner section styling end */

/* weekly recipe section styling start */
h3 {
  font-size: 27px;
  font-family: serif;
  text-transform: capitalize;
}

.weeky-recipe p,
.editors-collection p {
  font-family: serif;
  font-size: 28px;
}

.weeky-recipe a {
  padding: 10px;
  margin-right: 0px;
  font-weight: 50px;
  text-transform: capitalize;
  color: #d0d6d0;
}

.tabs-container {
  margin: 20px 0;
  display: flex;
}

.weeky-recipe a:hover { background-color: #DB3E35; }

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-container li {
  margin-bottom: 50px;
  flex-basis: 30%;
}

.active { background-color: #DB3E35; }
.hide { background-color: #21211F; }
.tab-content { display: inline-block; }
.hide-content { display: none; }
/* weekly recipe section styling end */

/* get recipe section styling start */
.get-recipe { margin-bottom: 68px; }
.contact-us { margin-left: 8%; }

.contact-us,
.sign-up {
  display: inline-block;
  vertical-align: middle;
}

h4 {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.contact-us span {
  display: block;
  color: #767675;
  font-size: 13px;
}

.contact-us span a {
  color: #767675;
  font-weight: 600;
}

.sign-up {
  width: 35%;
  margin-left: 3%;

}

.sign-up input {
  width: 100%;
  padding: 10px 0 9px 3%;
  font-size: 15px;
}

.email,
.sign-up button {
  display: inline-block;
  vertical-align: middle;
}

.sign-up button {
  padding: 11px 3%;
  border: none;
  margin-left: 7%;
  background-color: #DB3E35;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
}

.email { width: 68%; }
/* get recipe section styling end */

/* editors collection section styling start */
.editors-collection {
  margin-bottom: 39px;
  text-align: center;
}

.editors-collection p { margin-bottom: 39px; }

.editors-collection ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editors-collection li { flex-basis: 48.7%; }
.load-more { display: none; }

.read-more:hover {
  background-color: #767675;
  color: #fff;
  transition: .5s ease-out;
}

.active {
  background-color: #767675;
  color: #fff;
}

.read-more {
  padding: 11px 26px;
  border: 1px solid #767675;
  text-transform: capitalize;
  color: #767675;
  font-weight: 600;
  font-size: 14px;
}

h5 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
}

.editors-collection figure { margin-bottom: 20px; }
/* editors collection section styling end */
/*=================================
  main styling ends here
=================================*/